<!DOCTYPE html>
<html>
<head>
    <title>匿名曙光留言板 | C&M</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
<div class="navbar">
  <a href="/mod"><img src="/static/img/logo.png" alt="SGGS logo" >
  <h1> 匿名留言板 | C&M</h1></a>
</div>

        {% for m in messages %}
        <div class="message">
            <div><img src="/static/img/default.png" class="profileimg"><span class="uname">{{ m[0] }}</span>
            <br><br>
            <span class="pub_time">{{ m[1] }}</span></div>
{% autoescape false %}
            <p class="content">{{ m[2] }}</p>
{% endautoescape %}
        </div>
        {% endfor %}
<hr>
<br>
<a href="#" class="MarkMightFakeBtn">Mark/Unmark</a><a href="#" class="HideBtn">Hide/Unhide</a>
<br><br>
<hr><hr>
{% for m in replys %}
        <div class="message">
            <a class="messagelink" href="/mod/moderation_replys?reply_id={{ m[3] }}">
            <div><img src="/static/img/default.png" class="profileimg"><span class="uname">{{ m[0] }}</span>
            <br><br>
            <span class="pub_time">{{ m[1] }}</span></div>
{% autoescape false %}
            <p class="content">{{ m[2] }}</p>
{% endautoescape %}
             </a>
        </div>
        {% endfor %}




</body>
<script src="/static/js/mod_postsOrReplys.js"></script>
</html>
