<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>匿名曙光留言板 | Policy</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
    <div class="navbar">
        <a href="/"><img src="/static/img/logo.png" alt="SGGS logo">
            <h1>匿名留言板</h1>
        </a>
    </div>
    <p id="privacy">
        非常歡迎您光臨「匿名曙光留言板」（以下簡稱本網站），為了讓您能夠安心的使用本網站的各項服務與資訊，特此向您說明本網站的隱私權保護政策，以保障您的權益，請您詳閱下列內容：<br>
        <br>
        一、隱私權保護政策的適用範圍<br>
        隱私權保護政策內容，包括本網站如何處理在您使用網站服務時收集到的個人識別資料。隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。<br>
        <br>
        二、個人資料的蒐集、處理及利用方式<br>
        當您造訪本網站或使用本網站所提供之功能服務時，我們將視該服務功能性質，請您提供必要的個人資料，並在該特定目的範圍內處理及利用您的個人資料；非經您書面同意，本網站不會將個人資料用於其他用途。<br>
        於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。<br>
        為提供精確的服務，我們會將收集的後台進行統計與分析，分析結果之統計數據或說明文字呈現，除供內部研究外，我們會視需要公佈統計數據及說明文字，但不涉及特定個人之資料。<br>
        您可以隨時向我們提出請求，以更正或刪除您的帳戶或本網站所蒐集的個人資料等隱私資訊。聯繫方式請見最下方聯繫管道。<br>
        三、資料之保護<br>
        本網站主機均設有防火牆等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料。<br>
        如因業務需要有必要委託其他單位提供服務時，本網站亦會嚴格要求其遵守保密義務，並且採取必要檢查程序以確定其將確實遵守。<br>
        四、網站對外的相關連結<br>
        本網站的網頁提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站。但該連結網站不適用本網站的隱私權保護政策，您必須參考該連結網站中的隱私權保護政策。<br>
        <br>
        <br>
        前項但書之情形包括不限於：<br>
        <br>
        經由您書面同意。<br>
        法律明文規定。<br>
        為免除您生命、身體、自由或財產上之危險。<br>
        與公務機關或學術研究機構合作，基於公共利益為統計或學術研究而有必要，且資料經過提供者處理或蒐集者依其揭露方式無從識別特定之當事人。<br>
        當您在網站的行為，違反服務條款或可能損害或妨礙網站與其他使用者權益或導致任何人遭受損害時，經網站管理單位研析揭露您的個人資料是為了辨識、聯絡或採取法律行動所必要者。<br>
        有利於您的權益。<br>
        本網站委託廠商協助蒐集、處理或利用您的個人資料時，將對委外廠商或個人善盡監督管理之責。<br>
        六、Cookie 之使用<br>
        為了提供您最佳的服務，本網站會在您的電腦中放置並取用我們的 Cookie，若您不願接受 Cookie 的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕 Cookie
        的寫入，但可能會導致網站某些功能無法正常執行 。<br>
        <br>
        七、隱私權保護政策之修正<br>
        本網站隱私權保護政策將因應需求隨時進行修正，修正後的條款將刊登於網站上。<br>
        <br>
        八、聯繫管道<br>
        對於本站之隱私權政策有任何疑問，或者想提出變更、移除個人資料之請求，請email admin@nicewhite.eu.org。<br>
        <br>
        九、協作廠商<br>
        本網站使用 Cloudflare 服務，以提供網站的安全防護、加速網站的存取速度。Cloudflare 服務可能會收集使用者的 IP 位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等。可以閱讀<a
            href="https://www.cloudflare.com/zh-tw/privacypolicy/">Cloudflare的條款與政策</a>以了解更多<br>
        <br>
        本文參考自:<a
            href="https://github.com/lyrasoft/chinese-privacy-policy-template">https://github.com/lyrasoft/chinese-privacy-policy-template</a><br>
        <br>
        使用條款 (Terms of Service)<br>
        歡迎使用匿名曙光留言板（以下簡稱「本網站」）。在您使用本網站之前，請仔細閱讀以下使用條款（以下簡稱「本條款」）。您使用本網站即表示您同意遵守本條款。如果您不同意本條款，請勿使用本網站。<br>
        <br>
        1. 接受條款<br>
        使用本網站，即表示您同意受本條款的約束。本網站保留在任何時間修改本條款的權利。修改後的條款將會公佈於本網站上，並即時生效。您有責任定期查看本條款，繼續使用本網站即表示您接受修改後的條款。<br>
        <br>
        2. 使用資格<br>
        您必須年滿 18 歲或具有完全民事行為能力方可使用本網站。若您未滿 18 歲，則須在父母或監護人的陪同下使用本網站。<br>
        <br>
        3. 用戶帳號<br>
        若要使用本網站的部分功能，您可能需要註冊帳號。您有責任確保您的帳號資料真實、完整及即時更新。您應妥善保管您的帳號資訊，並對您的帳號活動負全部責任。如您發現任何未經授權的帳號使用情況，請立即通知本網站。<br>
        <br>
        4. 用戶行為<br>
        您承諾在使用本網站時不會：<br>
        <br>
        發佈任何違法、誹謗、侮辱、淫穢、騷擾、侵犯他人隱私或知識產權的內容。<br>
        發佈垃圾郵件、廣告或其他未經請求的內容。<br>
        假冒他人或以其他方式誤導本網站或其他用戶。<br>
        干擾或破壞本網站的運行或其他用戶的使用體驗。<br>
        5. 知識產權<br>
        本網站及其內容，包括但不限於文字、圖像、標誌、按鈕圖標、圖表、音訊剪輯和軟體，均屬於本網站或其內容供應商的財產，受國際知識產權法保護。未經書面許可，不得複製、修改、分發、展示或以其他方式使用本網站的任何內容。<br>
        <br>
        6. 隱私政策<br>
        我們重視您的隱私並遵守相關法律法規。請參閱我們的隱私政策，了解我們如何收集、使用和保護您的個人資訊。<br>
        <br>
        7. 免責聲明<br>
        本網站提供的內容僅供參考。本網站不對內容的準確性、完整性或可靠性作出任何明示或暗示的保證。您使用本網站的風險由您自行承擔。<br>
        <br>
        8. 責任限制<br>
        在適用法律允許的最大範圍內，本網站對因使用或無法使用本網站而產生的任何直接、間接、附帶、特殊、後果性或懲罰性損害不承擔任何責任，即使本網站已被告知可能發生此類損害。<br>
        <br>
        9. 終止<br>
        本網站有權在任何時間以任何理由暫停或終止您的帳號或您對本網站的訪問，而無需事先通知或承擔任何責任。<br>
        <br>
        10. 準據法<br>
        本條款受本網站註冊所在地的法律管轄，不包括其法律衝突原則。任何因本條款引起的爭議應提交本網站註冊所在地有管轄權的法院解決。<br>
        <br>
        11. 可分割性<br>
        如果本條款中的任何條款被認定為無效或不可執行，其餘條款仍然有效並繼續執行。<br>
        <br>
        12. 完整協議<br>
        本條款構成您與本網站之間的完整協議，並取代之前或當時所有有關本網站的書面或口頭協議。<br>
        <br>
        更新日期：2024年5月20日
    </p>


</body>

</html>