<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>匿名曙光留言板 | 轉址</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
    <div class="navbar">
        <a href="/message_board"><img src="/static/img/logo.png" alt="SGGS logo">
            <h1>匿名留言板</h1>
        </a>
    </div>
    <div class="message" id="redirect">
        <h1>你即將離開匿名曙光留言板</h1>
        <p>以下網址的並沒有被任何開發者確認過</p>
        <p>{{ url }}</p>
        <p>你確定要前往嗎?</p>
        <p>如果你很確定的話，點 <a href="{{ url }}">這裡</a>。</p>
    </div>
</body>

</html>