<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>匿名曙光留言板 | 歡迎註冊!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="navbar">
            <a href="/"><img src="./static/img/logo.png" alt="SGGS logo" >
            <h1 >Anonymous</h1></a>
          </div>
        <div id="reg_form">
            <form action="/reg" method="POST">
                <table>
                    
                    <tr><td>使用者名稱：</td><td><input type="text" id="uname" name="uname" placeholder="使用者名稱" autofocus><span id="uname_tips"></span></td></tr>
                    <tr><td>密碼：</td><td><input type="password" id="upass" name="upass" placeholder="密碼"></td></tr>
                    <tr><td>確認密碼：</td><td><input type="password" id="upass2" name="upass2" placeholder="確認密碼"></td></tr>
                    <tr><td>電子郵件：</td><td><input type="email" id="email" name="email" placeholder="電子郵件"><button type="button" id="send_email_code">發驗證碼</button></td></tr>
                    <tr><td>驗證碼</td><td><input type="text" id="verify_code" name="verify_code" placeholder="驗證碼"></td></tr>
                    <tr><td>註冊前請先閱讀<a href="/tos">使用條款</a></td></tr>
                    <tr><td><button type="submit">註冊</button></td></tr>
                </table>
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/reg.js') }}"></script>
    </body>
</html>
