<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>匿名曙光留言板 | 歡迎註冊!</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="navbar">
        <a href="/message_board"><img src="./static/img/logo.png" alt="SGGS logo">
            <h1>匿名留言板</h1>
        </a>
    </div>
    <div id="reg_form">
        <form action="/reg" method="POST">
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}" />
            <table>

                <tr>
                    <td>使用者名稱：</td>
                    <td><input type="text" id="uname" name="uname" placeholder="使用者名稱" autofocus required><span
                            id="uname_tips"></span></td>
                </tr>
                <tr>
                    <td>密碼：</td>
                    <td><input type="password" id="upass" name="upass" placeholder="密碼" required></td>
                </tr>
                <tr>
                    <td>確認密碼：</td>
                    <td><input type="password" id="upass2" name="upass2" placeholder="確認密碼" required></td>
                </tr>
                <tr>
                    <td>電子郵件：</td>
                    <td><input type="email" id="email" name="email" placeholder="電子郵件" required><button type="button"
                            id="send_email_code">發驗證碼</button></td>
                </tr>
                <tr>
                    <td>驗證碼</td>
                    <td><input type="text" id="verify_code" name="verify_code" placeholder="驗證碼" required></td>
                </tr>
                <tr>
                    <td>註冊前請先閱讀<a href="/policy">條款</a></td>
                </tr>
                <tr>
                    <td><button type="submit">註冊</button></td>
                    <td><button type="button"
                            onclick="location.href='https://discord.com/oauth2/authorize?client_id=1311273540330197053&response_type=code&redirect_uri=https%3A%2F%2Findev-sggsanon.nicewhite.xyz%2Fauth%2Fdiscord%2Fcallback&scope=email+identify'">Login
                            With Discord</button></td>
                </tr>
            </table>
        </form>
    </div>
    <script src="/static/js/reg.js"></script>
</body>

</html>