<!DOCTYPE html>
<html>
<head>
    <title>匿名曙光留言板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <link rel="canonical" href="https://nicewhite.eu.org/message_board"/>
</head>
<body>
<div class="navbar">
  <a href="/message_board"><img src="./static/img/logo.png" alt="SGGS logo" >
  <h1 >Anonymous</h1></a>
</div>

        {% for m in messages %}
        <div class="message">
            <div><img src="/static/img/default.png" class="profileimg"><span class="uname">{{ m[0] }}</span>
            <br><br>
            <span class="pub_time">{{ m[1] }}</span></div>
            <p class="content">{{ m[2] }}</p>
        </div>
        {% endfor %}
<hr>
{% for m in replys %}
        <div class="message">
            <div><img src="/static/img/default.png" class="profileimg"><span class="uname">{{ m[0] }}</span>
            <br><br>
            <span class="pub_time">{{ m[1] }}</span></div>
            <p class="content">{{ m[2] }}</p>
        </div>
        {% endfor %}

{% if session.get("user_info") %}
<div id="mb_form">
    <form method="POST">
        <table>
            <tr><td>回覆：</td><td><textarea id="content" name="content" placeholder="請輸入回覆內容"></textarea></td></tr>
            <tr><td></td><td><button type="submit">送出</button></td></tr>
        </table>
    </form>
</div>
{% else %}

<p id="wanttologin">想回覆?<a href="/login">登入</a>或<a href="/reg">註冊</a>！</p>
{% endif %}


</body>
</html>
